<!DOCTYPE html>
<html dir="ltr" lang="en-US">
	<app-header></app-header>


	<!-- Content
		============================================= -->
		<section id="content" style="overflow: visible;">

			<div class="content-wrap">

				<!-- Wave Shape Divider
				============================================= -->
				<div class="wave-bottom" style="position: absolute; top: -12px; left: 0; width: 100%; background-image: url('/assets/course/images/wave-3.svg'); height: 12px; z-index: 2; background-repeat: repeat-x; transform: rotate(180deg);"></div>

				<div class="container">

					<div class="heading-block nobottomborder my-4 center">
						<h3>All Categories</h3>
						<span></span>
					</div>

					<!-- Categories
					============================================= -->
					<div class="row course-categories clearfix mb-4">
						<div class="col-lg-2 col-sm-3 col-6 mt-4">
							<div class="card hover-effect">
								<img class="card-img" src="/assets/course/images/categories/music.jpg" alt="Card image">
								<a href="#" class="card-img-overlay rounded p-0" style="background-color: rgba(251,51,100,0.8);">
									<span><i class="icon-music1"></i>Music</span>
								</a>
							</div>
						</div>

						<div class="col-lg-2 col-sm-3 col-6 mt-4">
							<div class="card hover-effect">
								<img class="card-img" src="/assets/course/images/categories/development.jpg" alt="Card image">
								<a href="#" class="card-img-overlay rounded p-0" style="background-color: rgba(29,74,103,0.8);">
									<span><i class="icon-code1"></i>Development</span>
								</a>
							</div>
						</div>


						<div class="col-lg-2 col-sm-3 col-6 mt-4">
							<div class="card hover-effect">
								<img class="card-img" src="/assets/course/images/categories/teacher.jpg" alt="Card image">
								<a href="#" class="card-img-overlay rounded p-0" style="background-color: rgba(50,71,66,0.8);">
									<span><i class="icon-line2-user"></i>Teacher</span>
								</a>
							</div>
						</div>

						<div class="col-lg-2 col-sm-3 col-6 mt-4">
							<div class="card hover-effect">
								<img class="card-img" src="/assets/course/images/categories/food.jpg" alt="Card image">
								<a href="#" class="card-img-overlay rounded p-0" style="background-color: rgba(70,58,69,0.8);">
									<span><i class="icon-food"></i>Food</span>
								</a>
							</div>
						</div>

						<div class="col-lg-2 col-sm-3 col-6 mt-4">
							<div class="card hover-effect">
								<img class="card-img" src="/assets/course/images/categories/business.jpg" alt="Card image">
								<a href="#" class="card-img-overlay rounded p-0" style="background-color: rgba(252,108,52,0.8);">
									<span><i class="icon-chart-bar1"></i>Business</span>
								</a>
							</div>
						</div>

						<div class="col-lg-2 col-sm-3 col-6 mt-4">
							<div class="card hover-effect">
								<img class="card-img" src="/assets/course/images/categories/health.jpg" alt="Card image">
								<a href="#" class="card-img-overlay rounded p-0" style="background-color: rgba(158,108,87,0.8);">
									<span><i class="icon-heartbeat"></i>Health Fitness</span>
								</a>
							</div>
						</div>

						<div class="col-lg-2 col-sm-3 col-6 mt-4">
							<div class="card hover-effect">
								<img class="card-img" src="/assets/course/images/categories/lifestyle.jpg" alt="Card image">
								<a href="#" class="card-img-overlay rounded p-0" style="background-color: rgba(164,108,119,0.85);">
									<span><i class="icon-line2-game-controller"></i>Lifestyle</span>
								</a>
							</div>
						</div>

						<div class="col-lg-2 col-sm-3 col-6 mt-4">
							<div class="card hover-effect">
								<img class="card-img" src="/assets/course/images/categories/language.jpg" alt="Card image">
								<a href="#" class="card-img-overlay rounded p-0" style="background-color: rgba(80,167,159,0.8);">
									<span><i class="icon-line2-globe"></i>Language</span>
								</a>
							</div>
						</div>

						<div class="col-lg-2 col-sm-3 col-6 mt-4">
							<div class="card hover-effect">
								<img class="card-img" src="/assets/course/images/categories/paint.jpg" alt="Card image">
								<a href="#" class="card-img-overlay rounded p-0" style="background-color: rgba(23,116,234,0.8);">
									<span><i class="icon-paint-brush"></i>Paint</span>
								</a>
							</div>
						</div>

						<div class="col-lg-2 col-sm-3 col-6 mt-4">
							<div class="card hover-effect">
								<img class="card-img" src="/assets/course/images/categories/photography.jpg" alt="Card image">
								<a href="#" class="card-img-overlay rounded p-0" style="background-color: rgba(108,156,148,0.85);">
									<span><i class="icon-line2-camera"></i>Photography</span>
								</a>
							</div>
						</div>

						<div class="col-lg-2 col-sm-3 col-6 mt-4">
							<div class="card hover-effect">
								<img class="card-img" src="/assets/course/images/categories/marketing.jpg" alt="Card image">
								<a href="#" class="card-img-overlay rounded p-0" style="background-color: rgba(227,141,66,0.8);">
									<span><i class="icon-line-share"></i>Digital Marketing</span>
								</a>
							</div>
						</div>

						<div class="col-lg-2 col-sm-3 col-6 mt-4">
							<div class="card hover-effect">
								<img class="card-img" src="/assets/course/images/categories/academics.jpg" alt="Card image">
								<a href="#" class="card-img-overlay rounded p-0" style="background-color: rgba(39,103,240,0.8);">
									<span><i class="icon-line-book"></i>Academics</span>
								</a>
							</div>
						</div>

					</div>

					<div class="clear"></div>

				</div>

				<!-- Section Courses
				============================================= -->
				<div class="section topmargin-lg parallax" style="padding: 80px 0 60px; background-image: url('/assets/course/images/icon-pattern.jpg'); background-size: auto; background-repeat: repeat"  data-bottom-top="background-position:0px 100px;" data-top-bottom="background-position:0px -500px;">

					<!-- Wave Shape Divider
					============================================= -->
					<div class="wave-top" style="position: absolute; top: 0; left: 0; width: 100%; background-image: url('/assets/course/images/wave-3.svg'); height: 12px; z-index: 2; background-repeat: repeat-x;"></div>

					<div class="container">

						<div class="heading-block nobottomborder mb-5 center">
							<h3>Most Popular Courses</h3>
							<span></span>
						</div>

						<div class="clear"></div>

						<div class="row mt-2">

							<!-- Course 1
							============================================= -->
							<div class="col-md-4 mb-5">
								<div class="card course-card hover-effect noborder">
									<a href="#"><img class="card-img-top" src="/assets/course/images/courses/1.jpg" alt="Card image cap"></a>
									<div class="card-body">
										<h4 class="card-title t700 mb-2"><a href="#">Spanish Language Learning For Absolute Beginners</a></h4>
										<p class="mb-2 card-title-sub uppercase t400 ls1"><a href="#" class="text-black-50">Language</a></p>
										<div class="rating-stars mb-2"><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star-half-full"></i> <span>4.7</span></div>
										<p class="card-text text-black-50 mb-1">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
									</div>
									<div class="card-footer py-3 d-flex justify-content-between align-items-center bg-white text-muted">
										<div class="badge alert-primary">$19.99</div>
										<a href="#" class="text-dark position-relative"><i class="icon-line2-user"></i> <span class="author-number">1</span></a>
									</div>
								</div>
							</div>

							<!-- Course 2
							============================================= -->
							<div class="col-md-4 mb-5">
								<div class="card course-card hover-effect noborder">
									<a href="#"><img class="card-img-top" src="/assets/course/images/courses/2.jpg" alt="Card image cap"></a>
									<div class="card-body">
										<h4 class="card-title t700 mb-2"><a href="#">Music Theory for Electronic Producers - The Complete Course!</a></h4>
										<p class="mb-2 card-title-sub uppercase t400 ls1"><a href="#" class="text-black-50">Music</a></p>
										<div class="rating-stars mb-2"><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i> <span>4.9</span></div>
										<p class="card-text text-black-50 mb-1">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
									</div>
									<div class="card-footer py-3 d-flex justify-content-between align-items-center bg-white text-muted">
										<div class="badge alert-warning">Free</div>
										<a href="#" class="text-dark position-relative"><i class="icon-line2-user"></i> <span class="author-number">1</span></a>
									</div>
								</div>
							</div>

							<!-- Course 3
							============================================= -->
							<div class="col-md-4 mb-5">
								<div class="card course-card hover-effect noborder">
									<a href="#"><img class="card-img-top" src="/assets/course/images/courses/3.jpg" alt="Card image cap"></a>
									<div class="card-body">
										<h4 class="card-title t700 mb-2"><a href="#">Ultimate Photoshop Training: From Beginner to Pro</a></h4>
										<p class="mb-2 card-title-sub uppercase t400 ls1"><a href="#" class="text-black-50">Design Tools</a></p>
										<div class="rating-stars mb-2"><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star-half"></i> <span>4.4</span></div>
										<p class="card-text text-black-50 mb-1">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
									</div>
									<div class="card-footer py-3 d-flex justify-content-between align-items-center bg-white text-muted">
										<div class="badge alert-warning">Free</div>
										<a href="#" class="text-dark position-relative"><i class="icon-line2-user"></i> <span class="author-number">1</span></a>
									</div>
								</div>
							</div>

							<!-- Course 4
							============================================= -->
							<div class="col-md-4 mb-5">
								<div class="card course-card hover-effect noborder">
									<a href="#"><img class="card-img-top" src="/assets/course/images/courses/4.jpg" alt="Card image cap"></a>
									<div class="card-body">
										<h4 class="card-title t700 mb-2"><a href="#">Blockchain Advanced Level: Uses Beyond Bitcoin 2018</a></h4>
										<p class="mb-2 card-title-sub uppercase t400 ls1"><a href="#" class="text-black-50">Business</a></p>
										<div class="rating-stars mb-2"><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star-half"></i><i class="icon-star-empty"></i> <span>3.7</span></div>
										<p class="card-text text-black-50 mb-1">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
									</div>
									<div class="card-footer py-3 d-flex justify-content-between align-items-center bg-white text-muted">
										<div class="badge alert-primary">$19.99</div>
										<a href="#" class="text-dark position-relative"><i class="icon-line2-user"></i> <span class="author-number">1</span></a>
									</div>
								</div>
							</div>

							<!-- Course 5
							============================================= -->
							<div class="col-md-4 mb-5">
								<div class="card course-card hover-effect noborder">
									<a href="#"><img class="card-img-top" src="/assets/course/images/courses/5.jpg" alt="Card image cap"></a>
									<div class="card-body">
										<h4 class="card-title t700 mb-2"><a href="#">Cognitive Behavioural Therapy (CBT) Practitioner Certificate</a></h4>
										<p class="mb-2 card-title-sub uppercase t400 ls1"><a href="#" class="text-black-50">Health & Fitness</a></p>
										<div class="rating-stars mb-2"><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-empty"></i> <span>4.1</span></div>
										<p class="card-text text-black-50 mb-1">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
									</div>
									<div class="card-footer py-3 d-flex justify-content-between align-items-center bg-white text-muted">
										<div class="badge alert-primary">$23.99</div>
										<a href="#" class="text-dark position-relative"><i class="icon-line2-user"></i> <span class="author-number">1</span></a>
									</div>
								</div>
							</div>

							<!-- Course 6
							============================================= -->
							<div class="col-md-4 mb-5">
								<div class="card course-card hover-effect noborder">
									<a href="#"><img class="card-img-top" src="/assets/course/images/courses/6.jpg" alt="Card image cap"></a>
									<div class="card-body">
										<h4 class="card-title t700 mb-2"><a href="#">Masterclass: Start Your Food Business 7 courses in 1</a></h4>
										<p class="mb-2 card-title-sub uppercase t400 ls1"><a href="#" class="text-black-50">Food Recipes</a></p>
										<div class="rating-stars mb-2"><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star-half"></i> <span>4.4</span></div>
										<p class="card-text text-black-50 mb-1">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
									</div>
									<div class="card-footer py-3 d-flex justify-content-between align-items-center bg-white text-muted">
										<div class="badge alert-primary">$21.99</div>
										<a href="#" class="text-dark position-relative"><i class="icon-line2-user"></i> <span class="author-number">1</span></a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Wave Shape Divider - Bottom
					============================================= -->
					<div class="wave-bottom" style="position: absolute; top: auto; bottom: 0; left: 0; width: 100%; background-image: url('/assets/course/images/wave-3.svg'); height: 12px; z-index: 2; background-repeat: repeat-x; transform: rotate(180deg);"></div>
				</div>

			
				
			</div>
		</section><!-- #content end -->
		

	
	</html>
	<app-footer ></app-footer>
<router-outlet></router-outlet>
