<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add Instructor</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets//assets/img/favicon.ico">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="/assets/css/owl.carousel.css">
    <link rel="stylesheet" href="/assets/css/owl.theme.css">
    <link rel="stylesheet" href="/assets/css/owl.transitions.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="/assets/css/animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href="/assets/css/meanmenu.min.css">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- forms CSS
		============================================ -->
    <link rel="stylesheet" href="/assets/css/form/all-type-forms.css">
    <!-- educate icon CSS
		============================================ -->
    <link rel="stylesheet" href="/assets/css/educate-custon-icon.css">
    <!-- morrisjs CSS
		============================================ -->
    <link rel="stylesheet" href="/assets/css/morrisjs/morris.css">
    <!-- dropzone CSS
		============================================ -->
    <link rel="stylesheet" href="/assets/css/dropzone/dropzone.css">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="/assets/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" href="/assets/css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="/assets/css/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
		============================================ -->
    <link rel="stylesheet" href="/assets/css/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="/assets/css/calendar/fullcalendar.print.min.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="/assets/style.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="/assets/css/responsive.css">
    <!-- modernizr JS
		============================================ -->
    <script src="/assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <app-sidebar-admin></app-sidebar-admin>
    <app-header-admin></app-header-admin>
    <br><br><br><br><br><br><br>
    <div class="all-content-wrapper">
        
        <div class="single-pro-review-area mt-t-30 mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="tab-content-details shadow-reset">
                            <h2>Add an instructor</h2>
                            <p>Make sure you add the correct information</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-payment-inner-st">
                            <ul id="myTabedu1" class="tab-review-design">
                                <li class="active"><a >Instructor Information</a></li>
                            </ul>
                            <div id="myTabContent" class="tab-content custom-product-edit">
                                <div class="product-tab-list tab-pane fade active in" id="description">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="review-content-section">
                                                <div id="dropzone1" class="pro-ad">
                                                    <form class="dropzone dropzone-custom needsclick add-professors" (ngSubmit)="userRegister()">
                                                      <div class="devit-card-custom">
                                                        <div class="form-group">
                                                          <label for="register-form-firstname">First name</label>
                                                            <input type="text" class="form-control" name="email" placeholder="First name *" required [(ngModel)]="user.firstname" >
                                                        </div>
                                                        <div class="form-group">
                                                          <label for="register-form-lastname">Last name</label>
                                                            <input type="text" class="form-control" name="email" placeholder="Last name *" required [(ngModel)]="user.lastname" >
                                                        </div>
                                                        <div class="form-group">
                                                          <label for="register-form-email">Email</label>
                                                            <input type="text" class="form-control" name="email" placeholder="Email *" required [(ngModel)]="user.emailId">
                                                        </div>
                                                        <div class="form-group">
                                                          <label for="register-form-username">Username</label>
                                                            <input type="text" class="form-control" name="email" placeholder="Username *" required [(ngModel)]="user.username">
                                                        </div>
                                                        <div class="form-group">
                                                          <label for="register-form-password">Password</label>
                                                            <input name="password" type="password" class="form-control" placeholder="Password *" required [(ngModel)]="user.password">
                                                        </div>
                                                        <div class="form-group">
                                                          <label for="register-form-password">Confirm Password</label>
                                                            <input name="confarmpassword" type="password" class="form-control" placeholder="Confirm Password *" required>
                                                        </div>
                                                        <div class="col_full">
                                                          <label for="register-form-username">  Role</label>
                                                          <select [(ngModel)]="user.role" id="role" name="role" class="form-control" required>
                                                            <option *ngFor="let role of roles" selected >
                                                              {{ role }}
                                                            </option>
                                                        
                                                        </select>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                      <div class="col-lg-12">
                                                          <div class="payment-adress">
                                                            <br>
                                                              <button type="submit" class="btn btn-primary waves-effect waves-light"  id="register-form-submit" name="register-form-submit" value="register">Submit</button>
                                                              <button class="btn btn-secondary" type="reset" style="background-color: aliceblue; margin-left: 10px;" (click)="onReset()">Cancel</button>
                                                          </div>
                                                      </div>
                                                  </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>

    <!-- jquery
		============================================ -->
    <script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
		============================================ -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- wow JS
		============================================ -->
    <script src="/assets/js/wow.min.js"></script>
    <!-- price-slider JS
		============================================ -->
    <script src="/assets/js/jquery-price-slider.js"></script>
    <!-- meanmenu JS
		============================================ -->
    <script src="/assets/js/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
		============================================ -->
    <script src="/assets/js/owl.carousel.min.js"></script>
    <!-- sticky JS
		============================================ -->
    <script src="/assets/js/jquery.sticky.js"></script>
    <!-- scrollUp JS
		============================================ -->
    <script src="/assets/js/jquery.scrollUp.min.js"></script>
    <!-- mCustomScrollbar JS
		============================================ -->
    <script src="/assets/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/assets/js/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
		============================================ -->
    <script src="/assets/js/metisMenu/metisMenu.min.js"></script>
    <script src="/assets/js/metisMenu/metisMenu-active.js"></script>
    <!-- morrisjs JS
		============================================ -->
    <script src="/assets/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="/assets/js/sparkline/jquery.charts-sparkline.js"></script>
    <!-- calendar JS
		============================================ -->
    <script src="/assets/js/calendar/moment.min.js"></script>
    <script src="/assets/js/calendar/fullcalendar.min.js"></script>
    <script src="/assets/js/calendar/fullcalendar-active.js"></script>
    <!-- maskedinput JS
		============================================ -->
    <script src="/assets/js/jquery.maskedinput.min.js"></script>
    <script src="/assets/js/masking-active.js"></script>
    <!-- datepicker JS
		============================================ -->
    <script src="/assets/js/datepicker/jquery-ui.min.js"></script>
    <script src="/assets/js/datepicker/datepicker-active.js"></script>
    <!-- form validate JS
		============================================ -->
    <script src="/assets/js/form-validation/jquery.form.min.js"></script>
    <script src="/assets/js/form-validation/jquery.validate.min.js"></script>
    <script src="/assets/js/form-validation/form-active.js"></script>
    <!-- dropzone JS
		============================================ -->
    <script src="/assets/js/dropzone/dropzone.js"></script>
    <!-- tab JS
		============================================ -->
    <script src="/assets/js/tab.js"></script>
    <!-- plugins JS
		============================================ -->
    <script src="/assets/js/plugins.js"></script>
    <!-- main JS
		============================================ -->
    <script src="/assets/js/main.js"></script>
    <!-- tawk chat JS
		============================================ -->
    <script src="/assets/js/tawk-chat.js"></script>
</body>

</html>
