<app-header></app-header>
<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<div class="postcontent nobottommargin">

						<!-- Portfolio Single Video
						============================================= -->
					
						<h2> Course :  </h2>
					
						<h2> Course : </h2>
					
					<div class="col-lg-8 col-md-10 offset-lg-2 offset-md-1 bottommargin-lg">
								<a href="" data-lightbox="iframe" class="play-video position-relative"><img src="" alt="Video Image" class="rounded-lg shadow-lg" width="700" height="484" > 
									<i class="icon-play"></i>
								</a>
							</div>

						<!-- Portfolio Single Content
						============================================= -->
						<div class="col_three_fifth portfolio-single-content nobottommargin">

							<!-- Portfolio Single - Description
							============================================= -->
							<div class="fancy-title title-dotted-border">
								<h2>Project Info: </h2>
							</div>

							<p>
							<!-- Portfolio Single - Description End -->

						</div><!-- .portfolio-single-content end -->

						<div class="col_two_fifth col_last nobottommargin">

							<!-- Portfolio Single - Meta
							============================================= -->
							<div class="card events-meta" >
								<div class="card-body">
									<ul class="portfolio-meta nobottommargin">
									
										<li><span><i class="icon-calendar3"></i>Date:  </span> </li>
										<li><span><i class="icon-lightbulb"></i>Cat: </span></li>
								
									</ul>
								</div>
							</div>
							<!-- Portfolio Single - Meta End -->

						

						</div>

						<div class="clear"></div>

						<div class="divider divider-center"><i class="icon-circle"></i></div>


					</div>

					<div class="sidebar nobottommargin col_last">
						<div class="sidebar-widgets-wrap">

							<div class="widget clearfix">

								<h4>Sections : </h4>
							
							
								<div id="post-list-footer">
								

									<div class="spost clearfix">
										<div class="entry-image">
											<a href="" class="left-icon" data-lightbox="iframe"><img src="" alt="Video Image" class="rounded-lg shadow-lg" width="10" height="8" > </a>
										</div>
										<div class="entry-c">
											<div class="entry-title">
												<h4><a href="#">Section  : </a></h4>
											</div>
											<ul class="entry-meta">
												<li></li>
											</ul>
										</div>
									</div>
								



								</div>

							</div>

							

						</div>
					</div>

				</div>

			</div>

		</section><!-- #content end -->
        <app-footer></app-footer>