<app-header></app-header>
<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<div class="postcontent nobottommargin">

						<!-- Portfolio Single Video
						============================================= -->
					
						<h2> Course : </h2>
					
					
					<div class="col-lg-8 col-md-10 offset-lg-2 offset-md-1 bottommargin-lg">
							
							</div>

						<!-- Portfolio Single Content
						============================================= -->
						<div class="col_three_fifth portfolio-single-content nobottommargin">

							<!-- Portfolio Single - Description
							============================================= -->
							<div class="fancy-title title-dotted-border">
								<h2>Course title: React </h2>
							</div>

							<p>
							<!-- Portfolio Single - Description End -->

						</div><!-- .portfolio-single-content end -->

						<div class="col_two_fifth col_last nobottommargin">

							<!-- Portfolio Single - Meta
							============================================= -->
							<div class="card events-meta" >
								<div class="card-body">
									<ul class="portfolio-meta nobottommargin">
									
										<li><span><i class="icon-calendar3"></i>Date: 24/04/2022 </span> </li>
										<li><span><i class="icon-lightbulb"></i>Categorie:  dev</span></li>
							
									</ul>
								</div>
							</div>
							<!-- Portfolio Single - Meta End -->

						

						</div>

						<div class="clear"></div>

						<div class="divider divider-center"><i class="icon-circle"></i></div>


					</div>

					<div class="sidebar nobottommargin col_last">
						<div class="sidebar-widgets-wrap">

							<div class="widget clearfix">

								<h4>Sections : 3  </h4>
							 
							
								<div id="post-list-footer">
								

									<div class="spost clearfix">
										
										<div class="entry-c">
											<div class="entry-title">
												<h4><a href="#">Section  : 1  </a></h4>
											</div>
											<ul class="entry-meta">
												<li> </li>
											</ul>
										</div>
									</div>
                                    <div class="spost clearfix">
										
										<div class="entry-c">
											<div class="entry-title">
												<h4><a href="#">Section  : 2  </a></h4>
											</div>
											<ul class="entry-meta">
												<li> </li>
											</ul>
										</div>
									</div>
                                    <div class="spost clearfix">
										
										<div class="entry-c">
											<div class="entry-title">
												<h4><a href="#">Section  : 3  </a></h4>
											</div>
											<ul class="entry-meta">
												<li> </li>
											</ul>
										</div>
									</div>
								



								</div>

							</div>

							

						</div>
					</div>

				</div>

			</div>

		</section><!-- #content end -->
        <!-- Switcher
	============================================= -->
	<div class="mode-switcher">
		<div class="pts-text center"><span class="tdark">Dark</span><span class="tlight">Light</span></div>
		<div class="pts-switcher">
			<div class="switch">
				<input id="switch-toggle-mode" class="switch-toggle switch-toggle-round" type="checkbox">
				<label for="switch-toggle-mode"></label>
			</div>
		</div>
	</div>

<app-footer></app-footer>